html {
    height: 100%;
    display: grid;
}

body {
    background-color: #fac4af;
    margin: auto;
}

#menu input, #menu button, body {
    font-family: Georgia;
}

#board {
    display: inline-block;
    background-image: url("https://15-puzzle-game--joyalmathew.repl.co/board.jpeg");
    padding: 10px;
    box-shadow: 10px 20px #9b857a;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 500px;
}

#display {
    margin-left: 0px;
    float: right;
}

#menu {
    font-size: 15pt;
    float: left;
    margin-right: 0px;
    box-sizing: border-box;
    margin-top:10px;
}

#menu p {
    margin-top: 1px;
    margin-bottom: 1px;
}
